body{
	font-family: Verdana, Arial, sans-serif;
	width: 95%;
	margin: 0 auto;
}

#header{
	text-align: center;
	padding: 0.5em;
	text-shadow: 2px 5px 5px #003333;
	background-image: url("../images/header_backdrop.jpg");
	background-position: 100%;
}

#nav{
	text-align: center;
	background-color: #669999;
	text-shadow:2px 2px 7px #0D4D4D;
	font-weight: bold;
	border: 5px solid #003333;
}

.navlist{
	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
}

.navli,.navlicurr{
	display: inline;
}

.navlicurr{
	background-color: #D49A6A;
}

#content{
	overflow: auto;
	background-color: #ECF8A5;
}

#sidebar{
	float: left;
	text-shadow:1px 2px 5px #003333;
	font-style: italic;
	background-color: #D49A6A;
}

.vertnava, .vertnavacurr{
	display: block;
	border-bottom: 1px solid;
}

.vertnavacurr{
	background-color: #0D4D4D;
}

.fullsection{
	padding-left: 1em;
	padding-right: 1em;
	display: block;
	text-align: justify;
	border: 3px solid #310138;
	border-radius: 5px;
	min-height: 335px;
}

#section{
	padding-left: 1em;
	padding-right: 1em;
	display: block;
	text-align: justify;
	overflow: auto;
}

#column1,#column2{
	width: 45%;
	padding-left: 1em;
	padding-right: 1em;
	display: block;
    padding-bottom: 2em;
}

#column2{
	position: absolute; top: 13em; right: 0px;
}

figure.market{
	text-align: center;
	font-weight: bold;
	border: 2px solid #552600;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

figure.teambios{
	float: right;
	border: 5px solid #003333;
	border-radius: 10px;
}

figure.design{
	text-align: center;
	border: 10px solid #552600;
	border-radius: 20px;
	width: 500px;
	background-color: white;
	margin-left:auto;
	margin-right: auto;
    padding:1em;
}

figure.aside{
	margin-left: auto;
	margin-right: auto;
}

#image_one{
	background-image: url("../images/pcb_camera1.gif");
	width: 195px;
	height: 195px;
	display: block;
}
#image_one:hover{
	background-image: url("../images/pcb_camera2.jpg");
}

figcaption.design, caption.design, figcaption.bioscapt{
	text-align: center;
	font-style: italic;
	font-family: Georgia;
	font-weight:bold;
}

.banner{
	text-align: center;
	font-family: Georgia,serif;
}

.summary{
	padding-left: 1em;
	padding-right: 1em;
	text-align: justify;
}

ol,ul.speclist{
	font-size: 12px;
}

.picul{
	list-style-type: none;
	text-align: center;
}

.picli{
	display: inline-block;
	width: 200px;
	padding-bottom: 10px;
	margin: 10px;
	font-style: italic;
	font-family: Georgia, serif;
	border: 5px solid #003333;
	border-radius: 5px;
	background-color: white;
}

.vidtable{
	margin-left:auto;
	margin-right:auto;
	border: 4px solid #003333;
	width: 646px;
	padding: 0em;
	margin-bottom: 0em;
	text-align: left;
	font-family: Georgia, Serif;
	background-color: #003333;
}

.viddiv{
	text-align: center;
}

.iframecontainer{
	text-align: center;
}

iframe,iframe.bigvid{
	border: 3px solid #003333;
}

iframe.bigvid{
	height: 480px;
	width: 640px;
}

table{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

table,th,td{
	border: 2px solid black;
	border-collapse: collapse;
}

th{
	background-color: #669999;
}

.sumrow{
	font-weight: bold;
	background-color: #85478B;
}

embedvid{
	margin-left: auto;
	margin-right: auto;
}

aside{
	float: right;
	width: 250px;
	height: auto;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #A270A7;
	font-size: 10px;
	border-left: 2px solid #85478B;
}

.impterm{
	border-bottom: 2px dashed #003333;
}

#footer{
	text-align: center;
	padding: 2em;
	background-color: #0D4D4D;
	border-top: 3px solid #310138;
}

#copyright{
	float: left;
}

#timestamp{
	float: right;
}

a{
	text-decoration: none;
	padding: 1em;
	color: #475300;
}
a.sponsor{
	padding: 0em;
}
a.sponsor:hover{
	background-color: transparent;
}
a:hover{
	background-color: #85478B;
}
a:visited{
	color: #552600;
}
a.inline{
	padding: 0em;
	color: #407F7F;
}
a.inline:hover{
	background-color: transparent;
	color: #4D0F53;
}
a.thumb{
	text-decoration: none;
	color: #4D0F53;
}
a.thumb:hover{
	background-color: transparent;
}
a.intable{
	text-decoration: none;
	color: #FFD1AA;
}
a.intable:hover{
	background-color: transparent;
	color: #669999;
}