{%extends "map_base.html"%}

{%block nodePlacement%}
   {% for node in nodes %}
        var marker{{node.id}}HTML = '<p><strong>ID:</strong> {{node.id}}</p>';
        marker{{node.id}}HTML += '<p><strong>Name:</strong> {{node.desc}}</p>';
        marker{{node.id}}HTML += '<p><strong>Status:</strong><span style="color:#{{node.status.severity.color}};"> {{node.status.desc}}</span></p>';
        var marker{{node.id}} = L.marker([{{node.lat}}, {{node.lon}}]).setIcon(icon).addTo(map).bindPopup(marker{{node.id}}HTML);

    {%endfor%}

{%endblock%}

{%block preMap%}
<h1>CTSN Node Status</h1>
{%endblock%}

{%block postMap%}
<h2 style="text-align: left;">Status Table</h2>

<table cellspacing = "0" cellpadding = "4px" border = "2px">
<tr><th>Node</th><th>Description</th><th>Status</th></tr>
{%for node in nodes%}
    <tr><td><strong>{{node.id}}</strong></td>
        <td>{{node.desc}}</td>
        <td><span style="color:#{{node.status.severity.color}};">{{node.status.desc}}</span></td>
    </tr>
{%endfor%}
</table>
{%endblock%}

